.taskCardContainer{
  box-shadow: 5px 5px 20px rgb(213, 213, 213);
}
  
.taskImageContainer{  
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.taskTitleContainer{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: white;
  background-color: rgb(25, 25, 25);
  font-size: 18px;
}
.taskImage{
  width: 100%;
}
